<main>
  <h1>{{title}}</h1>

  <section>
    <h2>Search for saved "Nerdy" texts:</h2>
    <form id="nameShirt" action="/search" method="post">
      <label>
        <span>Your name:</span><br>
        <input type="text" name="name" id="name" placeholder="Jan-Willem" required value="{{form.name}}">
      </label>
      <br>
      <label>
        <input type="submit" value="Search" id="submitNameShirt">
      </label>
    </form>
  </section>
  <section>
    <h2>Save your "Nerdy" texts:</h2>
    <form id="tshirt" action="/saved" method="post">
      <label>
        <span>Your name:</span><br>
        <input type="text" name="name" id="nameNew" placeholder="Jan-Willem" required value="{{form.name}}">
      </label>
      <br>
      <label>
        <span>Your nerdy text 1: <small>max. 60 characters</small></span><br>
        <input type="text" name="shirtText1" id="shirtText1" placeholder="This is some super nerdy text!" maxlength="60" required value="{{form.shirtText1}}">
      </label>
      <br>
      <label>
        <span>Your nerdy text 2: <small>max. 60 characters</small></span><br>
        <input type="text" name="shirtText2" id="shirtText2" placeholder="This is some super nerdy text!" maxlength="60" value="{{form.shirtText2}}">
      </label>
      <br>
      <label>
        <span>Your nerdy text 3: <small>max. 60 characters</small></span><br>
        <input type="text" name="shirtText3" id="shirtText3" placeholder="This is some super nerdy text!" maxlength="60" value="{{form.shirtText3}}">
      </label>
      <br>
      <label>
        <input type="submit" value="Save" id="submitTshirt">
      </label>
    </form>
  </section>
</main><!--
--><aside>
  <div id="shirtOverlay">
    <br>
    <span id="shirtText">Here comes your super nerdy text!</span>
    <br>
    <img src="/images/black-shirt.png" alt="Black T-shirt" title="Black T-shirt" width="250" />
  </div>
</aside>
