<main>
  <h1>{{title}}</h1>

  <section>
    <h2>Search for saved "Nerdy" texts:</h2>
    <form id="nameShirt" action="/search" method="post">
      <label>
        <span>Your name:</span><br>
        <input type="text" name="name" id="name" placeholder="Jan-Willem" required value="{{form.name}}">
      </label>
      <br>
      <label>
        <input type="submit" value="Search" id="submit">
      </label>
    </form>
  </section>
  <section>
    <h2>Create your "Nerdy" shirt:</h2>
    <form id="createShirt" action="/create" method="post">

        <strong>Nerdy text:</strong><br>
        <label><input type="radio" name="create" value="{{dataSaved.shirt1}}" required checked> <span>{{dataSaved.shirt1}}</span></label><br>
        {{#if dataSaved.shirt2}}
          <label><input type="radio" name="create" value="{{dataSaved.shirt2}}"> <span>{{dataSaved.shirt2}}</span></label><br>
        {{/if}}
        {{#if dataSaved.shirt3}}
          <label><input type="radio" name="create" value="{{dataSaved.shirt3}}"> <span>{{dataSaved.shirt3}}</span></label>
        {{/if}}

      <br>
      <br>
        <strong>T-Shirt size:</strong><br>
        <label><input type="radio" name="size" id="sizeS" value="S" required checked> S</label><br>
        <label><input type="radio" name="size" id="sizeM" value="M"> M</label><br>
        <label><input type="radio" name="size" id="sizeL" value="L"> L</label>
      <br>
      <label>
        <input type="submit" value="Create" id="submit">
      </label>
      <a href="/" class="backToStart" title="Back to start">Back to start</a>
    </form>
  </section>
</main><!--
--><aside>
  <div id="shirtOverlay">
    <br>
    <span id="shirtText">Here comes your super nerdy text!</span>
    <br>
    <img src="/images/black-shirt.png" alt="Black T-shirt" title="Black T-shirt" width="250" />
  </div>
</aside>
